{
    "semi": true,
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "all",
    "bracketSpacing": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "importOrder": [
        [
            "react",
            "<THIRD_PARTY_MODULES>",
            "^[.]"
        ]
    ],
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
