@import '../../scss/_colors.scss';

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    & > div {
        margin-bottom: 35px;
    }
    .loginTitle {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #b67352;
    }
    .loginSubTitle {
        margin-bottom: 70px;
        text-align: center;
        color: #b67352;
    }
    .loginFormloginButton {
        width: 100%;
    }
    .loginButton {
        width: 100%;
        background: $neptune;
        border-radius: unset;
        color: #fefbf6;
        &:hover {
            border: solid 1px #b67352;
        }
    }
    .loginFooter {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .remember {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-right: 20px;
            input {
                accent-color: #b67352;
            }
        }
        .forgotText {
            font-size: 14px;
            color: #b67352;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
