.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 60px;
    background: #8CB9BD;
    .logoutButton{
        background: inherit;
        border: solid 1px #b67352;
        color: #FEFBF6;
        outline: none;
        &:hover{
            background: #b67352;
            color: #FEFBF6;
        }
    }
}
