.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    .loginWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
